name: Analysis

on:
  workflow_dispatch:
  

jobs:
  ruff:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
              python-version: '3.11'
              cache: "pip"

        - name: Install Ruff
          run: pip install ruff

        - name: Run Ruff
          run: ruff check $(git ls-files '*.py')

  mypy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
              python-version: '3.11'
              cache: "pip"

        - name: Install mypy
          run: pip install mypy

        - name: Run mypy
          run: mypy $(git ls-files '*.py') --config-file .mypy.ini