name: Build ROS workspace

on:
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-22.04

    container:
      image: ros:humble-ros-base

    steps:
    - uses: actions/checkout@v4

    - name: Make script executable
      run: chmod +x scripts/build-ros.sh

    - name: Build ros
      run: ./scripts/build-ros.sh
